<!-- Extending the project layout, as this file will do minor customizations -->
{% extends "layouts/Member.html" %}

<!-- Setting up variables to customize "project" details to be specific to hawkers -->
{% set name = "Alex Lu" %}
{% set overview = "https://ylu-1258.github.io/YLu-Blog/" %}
{% set scrumboard = "https://github.com/users/YLu-1258/projects/1/views/1" %}
{% set repo = "https://github.com/YLu-1258/YLu-Blog" %}
{% set authors = "https://nighthawkcodingsociety.com/projectsearch/details/Hawkers%20Tweet" %}
{% set github = "https://github.com/YLu-1258" %}
{% set twitter = "https://twitter.com/AYL_Eris29" %}
{% set youtube = "https://www.youtube.com/channel/UC87lKneqnsE-4jpvQ_wpxRw?view_as=subscriber" %}
{% set basename = "My Socials" %}

<!-- Setting up a block replacement to customize background to BIRDS -->
{% block background %}
    <script src="{{ url_for('static', filename='js/three.r119.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vanta.net.min.js') }}"></script>
    <script>
        VANTA.NET({
            el: "body",
            mouseControls: true,
            touchControls: true,
            gyroControls: false,
            minHeight: 200.00,
            minWidth: 200.00,
            scale: 1.00,
            scaleMobile: 1.00
        })
    </script>
{% endblock %}