<!-- Extending the project layout, as this file will do minor customizations -->
{% extends "layouts/Member.html" %}

<!-- Setting up variables to customize "project" details to be specific to kangaroos -->
{% set name = "Haseeb Beg" %}
{% set overview = "https://github.com/h4seeb-cmd" %}
{% set scrumboard = "https://github.com/h4seeb-cmd" %}
{% set repo = "https://h4seeb-cmd.github.io/turtle/" %}
{% set authors = "https://thesmack.nighthawkcodingsociety.com/digitalPortfolios/"  %}

<!-- Setting up a block replacement to customize background to RINGS -->
{% block background %}
    <script src="{{ url_for('static', filename='js/three.r119.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vanta.halo.min.js') }}"></script>
    <script>
        VANTA.HALO({
            el: "body",
            mouseControls: true,
            touchControls: true,
            gyroControls: false,
            minHeight: 200.00,
            minWidth: 200.00
        })
    </script>
{% endblock %}