<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!-- This variable sets name of browser tab  -->
{% set project = "Alex Lu" %}

<!-- This is a replacement block for Body in base.html -->
{% block body %}
    <!--Try building a new body here, bootstrap is a wise choice-->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>About Me</strong></h1>
        <p style= color:blue>My name is Alex</p>
        <p style= color:darkcyan> I really like playing Tennis too 🎾</p>
        
        <p style= color:blue>My name is Shaurya</p>
        <p style= color:darkcyan> I really like Python. </p> 

        <p style= color:blue> My name is Haseeb. </p>
        <p style= color:darkcyan> I like to code 💻, I like to play games 🎮, and I like to work out 🏋️ </p> 

        <p style= color:blue>My name is Evan</p>
        <p style= color:darkcyan> I really like sleeping. </p> 
    </div>




{% endblock %}

<!-- This is turning off birds background from base.html --> 
{% block background %}
{% endblock %}
