{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <html>
        <head>
        <style>
            body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

          </style>
          </head>
          <body>
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Python Home Page</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/frosty.jpg') }}" alt="Python Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">What is the Best Franchise?</h5>
                    <p class="card-text">
                        <ol>
                            <li>Frosty the Snowman.</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go Nowhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/snow.jpg') }}" alt="Flask Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">What is Snow?</h5>
                    <p class="card-text">
                        <ol>
                            <li>We don't know but it certainly look quite good.</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go Nowhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/ice.jpg') }}" alt="Backend and Persistence" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Leaves No Trace.</h5>
                    <p class="card-text">
                        <ol>
                            <li>Perfect tool for the frosty killer.</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go Nowhere.</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    {% endblock %}

    <!-- This is turning off birds background from base.html -->
    {% block background %}
    {% endblock %}